In [ ]:
a above

In [1]:
print('안녕하세요')

안녕하세요

In [ ]:
b below

In [ ]:
dd delete

In [ ]:
#주석 메모
# 컨트롤 + /

In [2]:
# 변수 = 값/데이터
x=1
print(x)

1

In [3]:
y=3
y=11
print(y)

11

In [4]:
# int, float
x = 15
print(type(x))

<class 'int'>

In [6]:
y = 9.5
print(type(y))

<class 'float'>

In [7]:
# str
s = "가가"
print(type(s))

<class 'str'>

In [8]:
# list
li = ['가','나','다','라','마']
    # 0    1.   2.   3.   4
    # -5.   -4.  -3. -2. -1
    
    
# 슬라이싱
# 리스트이름 [시작인덱스번호 : 마지막인덱스번호]

In [10]:
print(len(li))
print(len("문자열"))

5
3

In [13]:
li1 = [1,2,3,4]
li2 = ['원숭이','토끼','코끼리']
li1.append(li2)
print(li1)

[1, 2, 3, 4, ['원숭이', '토끼', '코끼리']]

In [15]:
dic = {
    '이름':'김민지',
    '나이':'1998년생',
    '주소':'홍제동'
}

In [16]:
dic.keys()

dict_keys(['이름', '나이', '주소'])

In [18]:
dic.values()

dict_values(['김민지', '1998년생', '홍제동'])

In [19]:
dic.items()

dict_items([('이름', '김민지'), ('나이', '1998년생'), ('주소', '홍제동')])

In [21]:
# dict[키]
dic['이름']

'김민지'

In [23]:
dic['전화번호']='01029004039'
dic

{'이름': '김민지', '나이': '1998년생', '주소': '홍제동', '전화번호': '01029004039'}

In [26]:
a = ['사과','배','오렌지']
'딸기' in a

False

In [25]:
'딸기' not in a

True

In [27]:
b = '태극기'
c = '태극기는 휘날리다'
b in c

True

In [29]:
# 포매팅
# "문자열 { }".format(변수) - 3.5버전 이하
name = '김민지'
sentence = "안녕하세요 {}님".format(name)
print(sentence)

안녕하세요 김민지님

In [31]:
# f"문자열 {변수}" - 3.6버전
sentence2 = f"안녕하세요 {name}님"
print(sentence2)

안녕하세요 김민지님

In [32]:
# 변수 여러 개도 가능
month = '1월'
day = '12일'

sentence3 = "오늘은 {} {}입니다.".format(month, day)
sentence4 = f"오늘은 {month} {day}입니다."
print(sentence3)
print(sentence4)

오늘은 1월 12일입니다.
오늘은 1월 12일입니다.

In [34]:
for a in [2,3,4,5,6,7,8,9]:
    for b in [1,2,3,4,5,6,7,8,9]:
        sentence = f"{a} x {b} = {a*b}"
        print(sentence)
    print('*************')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
*************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
*************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
*************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
*************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
*************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
*************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
*************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
*************