In [1]:
import os
import pandas as pd

In [2]:
os.chdir(r'./data')

In [3]:
data = pd.read_csv('bank-additional-full.csv', sep=";") #sep : 구분자(기본값은 쉼표)
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

# 랜덤포레스트

In [5]:
# 범주형변수를 원핫인코딩 (숫자로 바꾸기)
# pd.get_dummies(data=df, columns='원핫인코딩할 칼럼명')
data = pd.get_dummies(data, columns=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome'])
data.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0

In [6]:
data['id'] = range(len(data))
len(data)

41188

In [7]:
train = data.sample(30000, replace=False, random_state=2020).reset_index(drop=True)
test = data.loc[ ~data['id'].isin(train['id'])].reset_index(drop=True)

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
rf = RandomForestClassifier(n_estimators=500, min_samples_split=10)
# n_estimators : 몇 개의 의사결정나무를 만들 것인지
# n_samples_split : 각 의사결정나무에서 각 구간의 최소 샘플 수, 이보다 작으면 더 이상 분리되지 않음

In [10]:
data.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success', 'id'],
      dtype='object')

In [11]:
input_var = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success', 'id'] #y(타겟값)빼고 모든 변수를 feature로

In [12]:
rf.fit( train[input_var], train['y'])

RandomForestClassifier(min_samples_split=10, n_estimators=500)

In [13]:
test['pred'] = rf.predict(test[input_var])
(test['pred']==test['y']).mean()

0.9143725420092956

In [14]:
# 의사결정나무와 비교
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(min_samples_split=10)
dt.fit(train[input_var], train['y'])
test['pred'] = dt.predict(test[input_var])
(test['pred']==test['y']).mean()

0.8960493385770468

In [ ]:
# => 의사결정나무를 사용할 때보다 앙상블기법의 배깅의 랜덤포레스트를 사용할 경우, 잘 예측할 확률이 0.02오름

In [15]:
# 변수 중요도
rf.feature_importances_

array([4.86111751e-02, 3.19137607e-01, 2.12277362e-02, 3.41830685e-02,
       9.88941981e-03, 2.30642187e-02, 2.00721755e-02, 2.40579391e-02,
       7.98019137e-02, 5.56493849e-02, 6.28869608e-03, 5.26581341e-03,
       2.68941666e-03, 2.62522544e-03, 4.16982017e-03, 4.30507286e-03,
       3.13808502e-03, 4.38059981e-03, 3.42421961e-03, 5.76316579e-03,
       3.21817644e-03, 1.68587971e-03, 4.50904651e-03, 5.92045252e-03,
       6.17550226e-03, 6.29016186e-04, 4.01221851e-03, 3.42866218e-03,
       4.80538028e-03, 6.04960635e-03, 1.27729041e-04, 5.19576740e-03,
       6.90816253e-03, 4.28750934e-03, 3.70059304e-03, 3.67646288e-03,
       3.29174128e-09, 5.83926373e-03, 1.68615129e-03, 5.72034603e-03,
       5.30536039e-03, 1.74776560e-03, 5.08457730e-03, 6.66048588e-03,
       6.59268939e-03, 3.85295550e-03, 1.88280773e-03, 5.67393612e-04,
       2.01647838e-03, 2.20457073e-03, 5.08356209e-03, 3.93282381e-03,
       1.78513064e-03, 6.12654502e-03, 1.72536824e-03, 5.95640134e-03,
       6.65894139e-03, 6.17277563e-03, 5.88362724e-03, 5.59567495e-03,
       6.55271088e-03, 6.18957710e-03, 2.23758971e-02, 1.24725197e-01])

In [29]:
rf_df = pd.DataFrame({'var':input_var, 'importance':rf.feature_importances_})
rf_df = rf_df.sort_values(by='importance', ascending=False)
rf_df.head()

            var  importance
1      duration    0.319138
63           id    0.124725
8     euribor3m    0.079802
9   nr.employed    0.055649
0           age    0.048611

# Xgboost

In [22]:
! pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 3.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy in /Users/minjeekim/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /Users/minjeekim/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.9.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.3

In [23]:
from xgboost import XGBClassifier

In [24]:
xgb = XGBClassifier(n_estimators=300, learning_rate = 0.1)
# learning_rate : 얼마나 빠르게 학습할 것인지(가중치를 얼마나 크게 둘 것인지)

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(train['y']) #오류가 발생해서 학습데이터의 타켓데이터를 인코딩한 후 실행
y_test = le.fit_transform(test['y'])

xgb.fit(train[input_var], y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=300, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [26]:
test['pred'] = xgb.predict(test[input_var])
(test['pred']==y_test).mean()

0.914730067929925

In [27]:
# 최적의 n_estimators 찾기
for n in [100,200,300,400,500,600,700,800,900]:
    xgb = XGBClassifier(n_estimators=n, learning_rate = 0.1)
    xgb.fit(train[input_var], y_train)
    test['pred'] = xgb.predict(test[input_var])
    print((test['pred']==y_test).mean())

0.9160707901322845
0.9149088308902396
0.914730067929925
0.9157132642116553
0.9149982123703968
0.9153557382910261
0.9154451197711834
0.9145513049696103
0.9127636753664641

In [28]:
# 변수 중요도
xgb_df = pd.DataFrame({'var':input_var, 'importance':xgb.feature_importances_})
xgb_df = xgb_df.sort_values(by='importance', ascending=False)
xgb_df

                     var  importance
9            nr.employed    0.416638
53             month_oct    0.028539
7          cons.conf.idx    0.028265
1               duration    0.027864
62      poutcome_success    0.027486
..                   ...         ...
30  education_illiterate    0.000000
41          loan_unknown    0.000000
61  poutcome_nonexistent    0.000000
36           default_yes    0.000000
44     contact_telephone    0.000000

[64 rows x 2 columns]

In [ ]:
## 일반적으로 의사결정나무보다 랜덤포레스트가, 랜덤포레스트보다 xgboost 의 변수 중요도가 더 신뢰성 있다는 규칙이 있음